/cmake-build-debug/
/CMakeLists.txt
/.PVS-Studio/
/.idea/modules.xml
/.idea/misc.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/.gitignore
/.idea/Shapes.iml
/.idea/vcs.xml
/.idea/sonarlint/issuestore/a/b/ab29a8b03137ca60942934e45dc3d9dfcdb30a49
